<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="tech.jonas.mondoandroid"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <permission
        android:name="tech.jonas.mondoandroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="tech.jonas.mondoandroid.permission.C2D_MESSAGE"/>

    <application
        android:name=".MondoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".features.home.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="mondo.co.uk"
                    android:scheme="https"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.transaction.TransactionActivity"
            android:parentActivityName=".features.home.MainActivity"
            android:theme="@style/AppTheme.TranslucentActionbar"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="tech.jonas.mondoandroid"/>
            </intent-filter>
        </receiver>

        <service
            android:name="tech.jonas.mondoandroid.gcm.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDuagKqBxpfDFb0Ebt8sKaWsG_Ft5mPqJc"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
